[submodule "src/llvm-project"]
	path = src/llvm-project
	url = https://github.com/kildom/llvm-project.git
[submodule "src/wasi-libc"]
	path = src/wasi-libc
	url = https://github.com/kildom/clang-wasi-port.git
